@model Incident
@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="IncidentID" class="control-label"></label>
        <input asp-for="IncidentID" class="form-control" readonly />
        <span asp-validation-for="IncidentID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer" class="control-label"></label>
        <select asp-for="CustomerID" class="form-control"
                asp-items="@(new SelectList(ViewBag.customers, "CustomerID", "FullName", Model.CustomerID.ToString() ))">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Product" class="control-label"></label>
        <select asp-for="ProductID" class="form-control"
                asp-items="@(new SelectList(ViewBag.products, "ProductID", "Name", Model.ProductID.ToString() ))">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TechnicianID" class="control-label"></label>
        <select asp-for="TechnicianID" class="form-control"
                asp-items="@(new SelectList(ViewBag.technicians, "TechnicianID", "Name", Model.TechnicianID ))">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DateOpened" class="control-label"></label>
        <input asp-for="DateOpened" class="form-control" />
        <span asp-validation-for="DateOpened" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateClosed" class="control-label"></label>
        <input asp-for="DateClosed" class="form-control" />
        <span asp-validation-for="DateClosed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
