@{
    ViewData["Title"] = "Registrations";
}

<h1>Get Customer</h1>

<form asp-action="MgrRegistration" method="get">
    <div class="form-group">
        <label name="Customer" class="control-label"></label>
        <select name="CustomerID" type="number" class="form-control"
                asp-items="@(new SelectList(ViewBag.Customers, "CustomerID", "FullName"))">
            <option value="">Select a customer...</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Select" class="btn btn-primary" />
    </div>
</form>