@model Incident
@{
    ViewData["Title"] = "Registrations";
}

<h1>Customer: @ViewBag.CustomerName</h1>


    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name<td>
                        <form asp-action="" asp-route-id="@product.ProductID" asp method="get">
                            <input type="submit" value="Delete" class="btn btn-primary" />
                        </form>
                    </tr>
            }
        </tbody>
    </table>
